<!DOCTYPE html>
<html ng-app="dealer">
	<head>
		<title></title>
		<link href="/static/foundation/css/normalize.min.css" rel="stylesheet">
		<link href="/static/foundation/css/foundation.min.css" rel="stylesheet">
		<link href="/static/css/foundation-icons.css" rel="stylesheet">
		<style>
		.small-1.card{
			width: 7.68888%;
			font-size:12px;
		}

		.card.match{
			font-weight:bold;
			color:blue;
		}

		body, html{
			height:100%;
		}
		.red{
			color: #AA0000;
		}
		.off-canvas-wrap,.inner-wrap, .main-section{
		    height:100%;   
		}

		.suit-d:after {
		  content: "♦";
		  color: #ff0000;
		}
		 
		.suit-h:after {
		  content: "♥";
		  color: #ff0000;
		}
		 
		.suit-c:after {
		  content: "♣";
		  color: #000;
		}
		 
		.suit-s:after {
		  content: "♠";
		  color: #000;
		}


		span[class*='suit']:after {
		  position: absolute;
		  left: 0px;
		  bottom: 10px;
		}
		</style>
	</head>
	<body>
		<span ng-controller="DealerCtl">
		    <div class="off-canvas-wrap" >
		        <div class="inner-wrap">
		            <nav class="tab-bar">
		                <section class="left tab-bar-section">
		                    <h1 class="title">Node Dealer</h1>
		                </section>

		                <section class="right-small">
		                    <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
		                </section>

		            </nav>

		            <aside class="right-off-canvas-menu">
		                <ul class="off-canvas-list" ng-controller="HistoryCtl">
		                    <li class='clearfix'>
		                    	<label>
		                    		History
		                    		 <i class="fi-x right red" role="button" ng-click="clearhistory()"></i>
	                    		</label>
		                    </li>
		                    
		                    <span ng-repeat="item in history.data">
		                    	<li>
			                    	<a href="#" ng-click="loadhistory( item )">
			                    		 <small><span style="line-height:0.3" class=" tiny round label info">{{ item.score }} points</span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;{{ now | amDifference : item.created : 'minutes' }} minutes ago</small>
		                    		</a>
	                    		</li>
		                    </span>
					      	
		                </ul>
		            </aside>
		            <section class="main-section">
		            <div class="icon-bar vertical two-up">
		              <a class="item" aria-label="Home">
		                <i class="fi-home" ></i>
		              </a>
		              <a class="item" aria-label="Home" ng-click="refresh()">
		                <i class="fi-refresh" ></i>
		                <small>deal again</small>
		              </a>
		            </div>
		                <div class="small-10 right columns pull-1">
		            		<div class="columns">
		            			<div class="left">
		            				<span class='label success'> Score:&nbsp;</span> {{score}}%
		            				<span class='label info'> Avg:&nbsp;</span> {{ average }}%
		            			</div>
		            		</div>
		            		<div  class="large-12 columns panel">
		            			<div ng-repeat="row in suits">
		            				<div ng-repeat="played in row" class="small-1 card columns" ng-class='{match:played.match}'>
		            					<span class="suit-{{played.suit|lowercase}} text-center">
		            					{{ played.value }}
		            					</span>
		            				</div>
		            				<hr/>
		            			</div>
		            		</div>
		            		<div class="columns">

		            		</div>
		                </div>
		            </section>
		            <a class="exit-off-canvas"></a>
		        </div>
		    </div>
		</span>
		<script src="/static/foundation/js/vendor/jquery.js"></script>
		<script src="/static/angular/angular.min.js"></script>
		<script src="/static/angular-cookies/angular-cookies.min.js"></script>
		<script src="/static/moment/min/moment.min.js"></script>
		<script src="/static/angular-moment/angular-moment.min.js"></script>
		<script src="/static/angular-resource/angular-resource.min.js"></script>
		<script src="/static/angular-foundation/mm-foundation-tpls.js"></script>
		<script src="/static/js/dealer.js"></script>
	</body>
</html>
